extends layout

block content
  h1= title
  p Welcome to #{title}

  p.funfact Fun Fact Aboume would be: I would Like to listen same song in loop as many times as possible in a day and get bored of it the next day
